<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lms.dao.MenuMapper">
  <resultMap id="BaseResultMap" type="com.lms.po.Menu">
    <constructor>
      <idArg column="menu_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="menu_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="menu_num" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="menu_parent_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="menu_power" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="menu_url" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="pname" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    menu_id, menu_name, menu_num, menu_parent_id, menu_power, menu_url, pname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lms.po.Menu">
    insert into menu (menu_id, menu_name, menu_num, 
      menu_parent_id, menu_power, menu_url, 
      pname)
    values (#{menuId,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, #{menuNum,jdbcType=INTEGER}, 
      #{menuParentId,jdbcType=INTEGER}, #{menuPower,jdbcType=INTEGER}, #{menuUrl,jdbcType=VARCHAR}, 
      #{pname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lms.po.Menu">
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="menuName != null">
        menu_name,
      </if>
      <if test="menuNum != null">
        menu_num,
      </if>
      <if test="menuParentId != null">
        menu_parent_id,
      </if>
      <if test="menuPower != null">
        menu_power,
      </if>
      <if test="menuUrl != null">
        menu_url,
      </if>
      <if test="pname != null">
        pname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="menuName != null">
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuNum != null">
        #{menuNum,jdbcType=INTEGER},
      </if>
      <if test="menuParentId != null">
        #{menuParentId,jdbcType=INTEGER},
      </if>
      <if test="menuPower != null">
        #{menuPower,jdbcType=INTEGER},
      </if>
      <if test="menuUrl != null">
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="pname != null">
        #{pname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lms.po.Menu">
    update menu
    <set>
      <if test="menuName != null">
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuNum != null">
        menu_num = #{menuNum,jdbcType=INTEGER},
      </if>
      <if test="menuParentId != null">
        menu_parent_id = #{menuParentId,jdbcType=INTEGER},
      </if>
      <if test="menuPower != null">
        menu_power = #{menuPower,jdbcType=INTEGER},
      </if>
      <if test="menuUrl != null">
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="pname != null">
        pname = #{pname,jdbcType=VARCHAR},
      </if>
    </set>
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lms.po.Menu">
    update menu
    set menu_name = #{menuName,jdbcType=VARCHAR},
      menu_num = #{menuNum,jdbcType=INTEGER},
      menu_parent_id = #{menuParentId,jdbcType=INTEGER},
      menu_power = #{menuPower,jdbcType=INTEGER},
      menu_url = #{menuUrl,jdbcType=VARCHAR},
      pname = #{pname,jdbcType=VARCHAR}
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="com.lms.po.Menu">
    <constructor>
      <idArg column="menu_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="menu_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="menu_num" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="menu_parent_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="menu_power" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="menu_url" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="pname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="menuId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="menuName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="menuNum" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="menuParentId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="menuPower" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="menuUrl" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    menu_id, menu_name, menu_num, menu_parent_id, menu_power, menu_url, pname, menuId, 
    menuName, menuNum, menuParentId, menuPower, menuUrl
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lms.po.Menu">
    insert into menu (menu_id, menu_name, menu_num, 
      menu_parent_id, menu_power, menu_url, 
      pname, menuId, menuName, 
      menuNum, menuParentId, menuPower, 
      menuUrl)
    values (#{menuId,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, #{menuNum,jdbcType=INTEGER}, 
      #{menuParentId,jdbcType=INTEGER}, #{menuPower,jdbcType=INTEGER}, #{menuUrl,jdbcType=VARCHAR}, 
      #{pname,jdbcType=VARCHAR}, #{menuid,jdbcType=INTEGER}, #{menuname,jdbcType=VARCHAR}, 
      #{menunum,jdbcType=INTEGER}, #{menuparentid,jdbcType=INTEGER}, #{menupower,jdbcType=INTEGER}, 
      #{menuurl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lms.po.Menu">
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="menuName != null">
        menu_name,
      </if>
      <if test="menuNum != null">
        menu_num,
      </if>
      <if test="menuParentId != null">
        menu_parent_id,
      </if>
      <if test="menuPower != null">
        menu_power,
      </if>
      <if test="menuUrl != null">
        menu_url,
      </if>
      <if test="pname != null">
        pname,
      </if>
      <if test="menuid != null">
        menuId,
      </if>
      <if test="menuname != null">
        menuName,
      </if>
      <if test="menunum != null">
        menuNum,
      </if>
      <if test="menuparentid != null">
        menuParentId,
      </if>
      <if test="menupower != null">
        menuPower,
      </if>
      <if test="menuurl != null">
        menuUrl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="menuName != null">
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuNum != null">
        #{menuNum,jdbcType=INTEGER},
      </if>
      <if test="menuParentId != null">
        #{menuParentId,jdbcType=INTEGER},
      </if>
      <if test="menuPower != null">
        #{menuPower,jdbcType=INTEGER},
      </if>
      <if test="menuUrl != null">
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="pname != null">
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="menuid != null">
        #{menuid,jdbcType=INTEGER},
      </if>
      <if test="menuname != null">
        #{menuname,jdbcType=VARCHAR},
      </if>
      <if test="menunum != null">
        #{menunum,jdbcType=INTEGER},
      </if>
      <if test="menuparentid != null">
        #{menuparentid,jdbcType=INTEGER},
      </if>
      <if test="menupower != null">
        #{menupower,jdbcType=INTEGER},
      </if>
      <if test="menuurl != null">
        #{menuurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lms.po.Menu">
    update menu
    <set>
      <if test="menuName != null">
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuNum != null">
        menu_num = #{menuNum,jdbcType=INTEGER},
      </if>
      <if test="menuParentId != null">
        menu_parent_id = #{menuParentId,jdbcType=INTEGER},
      </if>
      <if test="menuPower != null">
        menu_power = #{menuPower,jdbcType=INTEGER},
      </if>
      <if test="menuUrl != null">
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="pname != null">
        pname = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="menuid != null">
        menuId = #{menuid,jdbcType=INTEGER},
      </if>
      <if test="menuname != null">
        menuName = #{menuname,jdbcType=VARCHAR},
      </if>
      <if test="menunum != null">
        menuNum = #{menunum,jdbcType=INTEGER},
      </if>
      <if test="menuparentid != null">
        menuParentId = #{menuparentid,jdbcType=INTEGER},
      </if>
      <if test="menupower != null">
        menuPower = #{menupower,jdbcType=INTEGER},
      </if>
      <if test="menuurl != null">
        menuUrl = #{menuurl,jdbcType=VARCHAR},
      </if>
    </set>
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lms.po.Menu">
    update menu
    set menu_name = #{menuName,jdbcType=VARCHAR},
      menu_num = #{menuNum,jdbcType=INTEGER},
      menu_parent_id = #{menuParentId,jdbcType=INTEGER},
      menu_power = #{menuPower,jdbcType=INTEGER},
      menu_url = #{menuUrl,jdbcType=VARCHAR},
      pname = #{pname,jdbcType=VARCHAR},
      menuId = #{menuid,jdbcType=INTEGER},
      menuName = #{menuname,jdbcType=VARCHAR},
      menuNum = #{menunum,jdbcType=INTEGER},
      menuParentId = #{menuparentid,jdbcType=INTEGER},
      menuPower = #{menupower,jdbcType=INTEGER},
      menuUrl = #{menuurl,jdbcType=VARCHAR}
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
</mapper>